.idea
*_venv
venv
*__pycache__*

experiments
scripts/randomly_shuffled_results
scripts/run_results/*png
scripts/increasing_clients/*png
testdata/data/client1/model
testdata/data/client2/model
foundation_models/results


scripts/poster*
scripts/aggregation_results
scripts/hue_sat_val
scripts/aggregation_mechanisms.ipynb